@use '../constants/css-variables.scss' as *;
@use './fonts.scss';
@use './components.scss';
@use './info-content.scss';
@use './info-button.scss';
@use './videoPlayer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'OpenRunde', Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
